miniscript
miniscript.json

#make
miniscript.js
miniscript.wasm

#serve
favicon.ico
apple-touch-icon-precomposed.png
apple-touch-icon.png

#macos
**.DS_Store**

bash_profile.log
buildx.dockerfile

#genkit
.genkit/